/* Stylesheet for the main header */

/*  Mobile styles */

.main__nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}

.main__logo {
    text-align: center;
    background: #fff;
    cursor: pointer;
    padding-top: 5px;
}

.main__nav-items {
    display: flex;
    flex-direction: column;
    background: black;
    text-align: center;
    list-style: none;
}

.main__nav-items li {
    /* padding: 10px; */
    border-bottom: 1px solid black;
    height: 50px;
}

.main__nav-items a:hover {
    background: #fff;
    color: black;
}

.main__nav-items li a {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.main__collapse {
    /* opacity: 0; */
    /* max-height: 0; */
    overflow: hidden;
    transition: all 0.5s ease;
}

.open {
    opacity: 1;
    max-height: 100%;
}

/* styles for full screen (preliminary) */

@media (min-width: 700px) {
    .main__nav {
        flex-direction: row;
        width: 100%;
    }
    .main__collapse {
        max-height: 100%;
        width: 100%;
        opacity: 1;
    }
    .main__nav-items {
        flex-direction: row;
        justify-content: space-around;
    }
}